

:root {
    --bs-blue: #0d6efd;
    --bs-info-rgb: 13, 202, 240;
  }


.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
  }

  a {
    color: #0dcaf0;
    text-decoration: underline;
  }

  a:hover {
    color: #0dcaf0;
  }

  #sideNav {
   background-color: #0dcaf0;
  }
  .social-icons .social-icon:hover {
    background-color: #0dcaf0;
  }