

:root {
    --bs-orange: #bd5d38;
    --bs-primary-rgb: 189, 93, 56;
  }


.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  }

  a {
    color: #bd5d38;
    text-decoration: underline;
  }

  a:hover {
    color: #bd5d38;
  }

  #sideNav {
   background-color: #bd5d38;
  }

  .social-icons .social-icon:hover {
    background-color: #bd5d38;
  }