

:root {
    --bs-dark: #212529;
    --bs-dark-rgb: 33, 37, 41;
  }


.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  }

  a {
    color: #212529;
    text-decoration: underline;
  }

  a:hover {
    color: #212529;
  }

  #sideNav {
   background-color: #212529;
  }

  .social-icons .social-icon:hover {
    background-color: #212529;
  }